version: "3.8"

services:
  web:
    image: nginx:latest
    ports:
      - "8080:80"

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  stress-test:
    image: polinux/stress
    command: stress --cpu 4 --timeout 300s

